@import "tailwindcss";

@layer base {
  :root {
    --color-peach: #fcde9c;
    --color-brown: #ffa552;
    --color-violet: #381d2a;
    --color-green: #c4d6b0;
    --color-ember: #ba5624;
  }
}

@layer base {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-violet);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-brown);
  }
}

@layer utilities {
  .bg-gradient-62 {
    background: linear-gradient(60deg, var(--color-brown), var(--color-peach));
  }

  .max-7 {
    max-width: var(--container-7xl);
    margin: 0 auto;
  }

  .custom-clip {
    clip-path: polygon(0 0, 0% 100%, 100% 100%, 27% 55%);
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-out;
  }

  .gradient-logo {
  background: linear-gradient(
    120deg,
    var(--color-violet),
    var(--color-ember)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 700;
}

}
